
// variables
@import "react-gui-builder/variables";

// Core CSS
@import "./react-gui-builder/scaffolding.scss";
@import "./Layout.css";


.action-section div{
    flex-direction: row;
    justify-content: flex-end;
    
    .action-button{
        margin: 0.15rem
    }
}